# SPDX-FileCopyrightText: 2023 The Crossplane Authors <https://crossplane.io>
#
# SPDX-License-Identifier: CC0-1.0

/.cache
/.work
/_output
/config/
/config
cover.out
/vendor
/.vendor-new
.DS_Store

# ignore IDE folders
.vscode/
.idea/
