{{ .Header }}

{{ .GenStatement }}

package {{ .CRD.APIVersion }}

import (
	"k8s.io/apimachinery/pkg/runtime/schema"
)

// Package type metadata.
const (
	Group   = "{{ .CRD.Group }}"
	Version = "{{ .CRD.APIVersion }}"
)

// GroupVersion is the API Group Version used to register the objects
var GroupVersion = schema.GroupVersion{Group: Group, Version: Version}
