{{ .Header }}

{{ .GenStatement }}

package {{ .CRD.APIVersion }}

import (
    "github.com/pkg/errors"

	"github.com/crossplane-contrib/terrajet/pkg/json"
	"github.com/crossplane-contrib/terrajet/pkg/terraform/resource"
	"github.com/crossplane/crossplane-runtime/pkg/meta"
	"sigs.k8s.io/controller-runtime/pkg/client"
	{{ .Imports }}
)

// GetTerraformResourceType returns Terraform resource type for this {{ .CRD.Kind }}
func (mg *{{ .CRD.Kind }}) GetTerraformResourceType() string {
	return "{{ .Terraform.ResourceType }}"
}

// GetTerraformResourceIdField returns Terraform identifier field for this {{ .CRD.Kind }}
func (tr *{{ .CRD.Kind }}) GetTerraformResourceIdField() string {
	return "{{ .Terraform.IdentifierField }}"
}

// GetObservation of this {{ .CRD.Kind }}
func (tr *{{ .CRD.Kind }}) GetObservation() (map[string]interface{}, error) {
	o, err := json.TFParser.Marshal(tr.Status.AtProvider)
	if err != nil {
		return nil, err
	}
	base := map[string]interface{}{}
	if err := json.TFParser.Unmarshal(o, &base); err != nil {
	  return nil, err
	}
  {{- if .SensitiveFields }}
  return base, resource.GetSensitiveObservation(tr, base, map[string]string{ {{range $k, $v := .SensitiveFields}}"{{ $k }}": "{{ $v}}", {{end}} })
  {{- else }}
  return base, nil
  {{- end }}
}

// SetObservation for this {{ .CRD.Kind }}
func (tr *{{ .CRD.Kind }}) SetObservation(obs map[string]interface{}) error {
	p, err := json.TFParser.Marshal(obs)
	if err != nil {
		return err
	}
	return json.TFParser.Unmarshal(p, &tr.Status.AtProvider)
}

// GetParameters of this {{ .CRD.Kind }}
func (tr *{{ .CRD.Kind }}) GetParameters(ctx context.Context, c resource.SecretClient) (map[string]interface{}, error) {
	p, err := json.TFParser.Marshal(tr.Spec.ForProvider)
	if err != nil {
		return nil, err
	}
	base := map[string]interface{}{}
	{{- if .CRD.ConfigureExternalName }}
	{{ .CRD.ConfigureExternalName }}(base, meta.GetExternalName(tr))
	{{- end }}
	if err := json.TFParser.Unmarshal(p, &base); err != nil {
		return nil, err
	}
	{{- if .SensitiveFields }}
	return base, resource.GetSensitiveParameters(ctx, c, tr, base, map[string]string{ {{range $k, $v := .SensitiveFields}}"{{ $k }}": "{{ $v}}", {{end}} })
	{{- else }}
	return base, nil
	{{- end }}
}

// SetParameters for this {{ .CRD.Kind }}
func (tr *{{ .CRD.Kind }}) SetParameters(params map[string]interface{}) error {
	p, err := json.TFParser.Marshal(params)
	if err != nil {
		return err
	}
	return json.TFParser.Unmarshal(p, &tr.Spec.ForProvider)
}

// LateInitialize this {{ .CRD.Kind }} using its observed tfState.
// returns True if there are any spec changes for the resource.
func (tr *{{ .CRD.Kind }}) LateInitialize(attrs []byte) (bool, error) {
	params := &{{ .CRD.Kind }}Parameters{}
	if err := json.TFParser.Unmarshal(attrs, params); err != nil {
		return false, errors.Wrap(err, "failed to unmarshal Terraform state parameters for late-initialization")
	}
    li := conversion.NewLateInitializer(conversion.WithZeroValueJSONOmitEmptyFilter(conversion.CNameWildcard),
        conversion.WithZeroElemPtrFilter(conversion.CNameWildcard))
	return li.LateInitialize(&tr.Spec.ForProvider, params)
}


// GetConnectionDetails of this {{ .CRD.Kind }}
func (tr *{{ .CRD.Kind }}) GetConnectionDetails(obs map[string]interface{}) (map[string][]byte, error) {
  {{- if .SensitiveFields }}
  return resource.GetConnectionDetails(data, map[string]string{ {{range $k, $v := .SensitiveFields}}"{{ $k }}": "{{ $v}}", {{end}} })
  {{- else }}
  return nil, nil
  {{- end }}
}
